body {
    background: url(../img/fond.jpg) no-repeat 0px 0px;
    background-size: 104%;
    background-attachment: fixed;
    animation: Gradient 15s ease infinite;
  }

  .cube {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #D7D4E4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 12s ease-in forwards infinite;
  }
  
  .cube:nth-child(2n) {
    border-color: #FFF ;
  }

  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;
  }

  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
  }

  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }

  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }

  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }

  .header-content{
    margin-top:17%;
    text-align: center;
    color:  #0df0f0;
  }

  .header-content h1{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 1px;
  }

  .header-content p {
    font-size: 30px;
    line-height: 1.5;
    margin: 20px auto;
  }

  .header-content button{
    width: 500px;
    margin:20px 10px;
    color: white;
    font-size: 17px;
    border:1px solid #EFEEF5;
    font-weight: 500;
    background: rgb(204, 109, 19);
    border-radius: 20px;
    padding: 10px;
    cursor:pointer;
    transition: .3s;
  }

  .header-content button:hover{
    background-color: rgb(19, 204, 28);
    color: white;
  }
  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }